{% extends 'index.html' %}
{% block content %}
<h1>INFORMACIÓ ALUMNAT TIC BARCELONA (aplicació centre)</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Cognom</th>
                <th>Edat</th>
                <th>Curs</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.nom }}</td>
                <td>{{ student.cognom }}</td>
                <td>{{ student.edat }}</td>
                <td>{{ student.curs }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
   {% endblock %}