{% extends 'index.html' %}
{% block content %}
<h1>INFORMACIÓ PROFESSORAT TIC BARCELONA (aplicació centre)</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Cognom</th>
                <th>Edat</th>
                <th>Rol</th>
                <th>Curs</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.nom }}</td>
                <td>{{ teacher.cognom }}</td>
                <td>{{ teacher.edat }}</td>
                <td>{{ teacher.rol }}</td>
                <td>{{ teacher.curs }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
   {% endblock %}